#vslide{
	transition: 0.5s;   
	display: none;
	opacity: 0;
	width: 800px;
	height: 450px;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
}

#vslideList{
	position: absolute;
	top:0;
	left:0;
	font-size: 0;
}

.videos{
	display: inline-block;
}

#vback{
	/*  position: absolute;*/
	left: 0;
	z-index: 1;
}

#vback:hover{
	cursor: url(http://cur.cursors-4u.net/others/oth-7/oth692.cur), auto !important; /* End http://www.cursors-4u.com */

}

#vnext{
	/*  position: absolute;*/
	right: 0;
	z-index: 1;

}

#vnext:hover{
	cursor: url(http://cur.cursors-4u.net/others/oth-7/oth689.cur), auto !important;/* End http://www.cursors-4u.com */
}