body{
  cursor: crosshair;
}

#scene{
  width:550px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.block{
  /*  position:absolute;*/
  height: 250px;
  display: table-cell;
  transition: 0.8s;
  transition-delay: 0;
  overflow: hidden;
}

.block img{
  width:500px;
  height: auto;
}

.menu:hover{
  text-decoration:line-through;
}

.munu:visited{
 text-decoration:line-through;
}


.arrows{
  width: 100px;
  height: 250px;
  position: absolute;
}

#arrow_left{
  z-index: 2;
}

#arrow_left:hover{
  background: url(../images/arrow_left.png);
}

#arrow_right{
  z-index: 3;
  right: 215px;
}

#arrow_right:hover{
  background: url(../images/arrow_right.png);
}