#scene{
  width:550px;
  height: 250px;
  overflow: hidden;

}

.block{
/*  position:absolute;*/
  height: 250px;
  display: table-cell;
  transition: 0.8s;
  transition-delay: 0;
  overflow: hidden;
}

.block img{
  width:500px;
  height: auto;
}

.block:hover{
  cursor: crosshair;
}