/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/others/oth-7/oth687.cur), auto !important;} /* End http://www.cursors-4u.com */
body{
  background-color: #111;
  color:#777;
}

#main{
  line-height: 20px;
  opacity: 1;
  transition: 0.5s; 
}



#screen{
  background: black;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;   
  display: none;
  opacity: 0;
}

#dp_box{
  position: absolute;
  top: 3%;
  transition: 0.5s; 
  left: 100px;
  display:none;
  width: 70%;
  opacity: 0;
}

#dp_box img{
 width: 100%;
 height: auto;
 margin-bottom: 40px;
}

#t_box {
  position: absolute;
  top: 25%;
  right: 110px;
  color: #FFFFFF;
  font: 12px 나눔고딕;
  width: 220px;
  display: none;
  text-align: right;
  line-height: 18px;
  transition: 0.5s; 
  opacity: 0;
}


#left_1{
  width: 100px;
  padding: 50px;
  position: fixed;
  line-height: 23px;
}

#left_2{
  position: fixed;
  left: 140px;
  bottom: 70px;
  width: 40px;

}


#left_3{
  margin: 50px;
  position: fixed;
  left: 170px;

}

.years{
  display: none;
  transition: 0.5s; 
  opacity: 0;
}


#left_4{
  margin: 100px;
  position: fixed;
  left: 300px;
}


.arrows{
  width: 100px;
  height: 600px;
  position: absolute;

}

.menu{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  margin-top: 80px;
  width: 100px;
  text-align: center;
}

.year{
 line-height: 23px;
}

.menu:hover{
  text-decoration:line-through;
}

.year:hover{
  text-decoration:line-through;
}

.munu:visited{
 text-decoration:line-through;
}


*{
  margin: 0; padding: 0;
}
.slide{
  display: none;
  width: 800px;
  height: 450px;
  overflow: hidden;
  position: relative;
  transition: 0.5s; 
  opacity: 0;
}
.slide ul{

  position: absolute;
  top:0;
  left:0;
  font-size: 0;
}
.slide ul li{
  display: inline-block;
  line-height:100px;
  text-align:center;
}
.slide ul li img{
  width:800px;
  height:auto;
  vertical-align:top;

}
#back{
  /*  position: absolute;*/
  left: 0;
  z-index: 1;
}

#back:hover{
  cursor: url(http://cur.cursors-4u.net/others/oth-7/oth692.cur), auto !important; /* End http://www.cursors-4u.com */

}

#next{
  /*  position: absolute;*/
  right: 0;
  z-index: 1;

}

#next:hover{
 cursor: url(http://cur.cursors-4u.net/others/oth-7/oth689.cur), auto !important;/* End http://www.cursors-4u.com */
}